/* Styling for body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(192, 187, 187);
}

/* Styling for the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
}

/* Styling for the Home button */
.home {
  margin-left: 0px;
  background-color: transparent;
  color: orangered;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: transform 0.3s ease-in-out;
}
/* Styling for the Home button */
.home:hover{
  transform: scale(1.2);
}
/* Styling for the Home button */
.home-wrapper {
  margin: auto;
}
/*Styling for the dropdown menu */
.menu {
}
/*Styling for the dropdown menu */
.menubtn {
  background-color: transparent;
  padding: 16px;
  color: orangered;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 2rem;
  width: 2rem;
  border: none;
  z-index: 100;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
/*Hover effect on dropdown menu */
.menubtn:hover{
  transform: scale(1.2);
}

/*Styling for the dropdown menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
  margin-top: 0;
}

/*Styling for the dropdown menu  */
.sidenav .exersizes a{
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.3s;
  border: solid 1px lightgray;
}

/*Styling for the dropdown menu */
.sidenav .trainingstyles a{
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.3s;
  border: solid 1px lightgray;
}
/*Styling for the dropdown menu */
.sidenav .nutrition a{
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.3s;
  border: solid 1px lightgray;
}
/*Styling for the subnav*/
.dropdownbtn {
  position: relative;
  padding-right: 20px; 
}

/*Styiling for the subnav arrow */
.dropdownbtn::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: gray transparent transparent;
}

/*Styling for the subnav */
.exersizes .exersizesubnav {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  position: relative;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0s, max-height 0s;
}
/*Styling for the subnav */
.exersizesubnav a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/*Hover effect on subnav*/
.exersizes:hover .exersizesubnav {
  opacity: 1;
  max-height: 200px;
  transition: opacity 0.5s, max-height 0.5s;
}
/* Styling for the content page */
.contentpage {
  width: 90%;
  max-width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  margin: 80px auto;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  text-align: center;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
}

/* Styling for the content page */
.scrollable-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px; 
}

/* Styling for the scrollbar */
.scrollable-content::-webkit-scrollbar {
  width: 8px;
}
/* Styling for the scrollbar */
.scrollable-content::-webkit-scrollbar-track {
  background: transparent;
}
/* Styling for the scrollbar */
.scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
/*Styling for h2 */
h2{
  color: orangered;
  text-decoration: underline;
}
/*Styling for p */
p{
  position: relative;
  font-size: x-large;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

/* Styling for the image */
.manImg {
  margin-top: 20px;
  width: 60%;
  height: auto;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
}

/* Styling for the image */
.food{
  width: 50%;
  height: auto;
  margin-top: 20px;
  padding-left: 15%
}

/* Styling for the footer */
.footer-spacer {
  height: 70px; 
}
/* Styling for the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.5);
}

/* Styling for the footer */
footer .footerlinks {
  display: grid;
}
/* Styling for the footer */
.footerlinks a {
  color: lightgray;
  text-decoration: none;
}
/* Styling for the videos */
iframe {
  width: 60vw;
  height: calc(60vw * 9 / 16);
  border: 10px solid darkgray;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
}
/* Styling for the videos */
#videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: calc(60vw * 9 / 16);
  margin: auto;
}
/* Styling for the videos */
#videoContainer iframe {
  width: 100%;
  height: 100%;
}
/* Styling for the next and previous buttons */
#prevButton, #nextButton {
  width: 50px; 
  height: 50px; 
  margin-top: 10px;
}
/* Styling for the next and previous buttons */
#prevButton{
  color: #333;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  left: -50px;
}
/* Styling for the next and previous buttons */
#nextButton{
  color: #333;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  right: 50px;
}

/*Styling for the sidenote*/
.sidenote{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: black;
  margin-top: 20px;
}

/*Styling for strong*/
strong{
  color: orangered;
  font-weight: bold;
}

/*Styling for h3*/
h3{
  text-align: left;
  padding: 10px;
  margin: 10px;
}
/*Styling for YTLink*/
.YTLink{
  text-decoration: none;
  color: orangered;
  font-style: italic;
  font-weight: bold;
}

/*Styling for the table */
th{
  color: orangered;
  font-weight: bold;
}