body{
    background-color: gray;
    overflow: scroll;
    
 }
 
 .contentpage{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
     max-width: 1000px; 
     height: 85%;
     background-color: rgb(255, 255, 255); 
     border-radius: 20px; 
     padding-left: 10px;
     text-align: center;
 }
 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the dropdown button */
.dropdownbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative; /* Add this line */
  }
  
  /* Style the dropdown content (hidden by default) */
  .exersize-content {
    display: none;
    position: absolute;
    top: 100%; /* Position dropdown below the button */
    left: 0; /* Align with the button */
    background-color: #f9f9f9;
    min-width: 100%; /* Match the width of the button */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style links inside the dropdown */
.excersize-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.exersize-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
.menu:hover .exersize-content {
    display: block;
  }

.home{
    margin-left: 20px;
    background-color: white;
    color: black;
}
.content {
    padding: 20px;
}

.h1{
    border: black 1px solid;
}